body {
	margin: 0 auto !important;
	width: 1024px !important;
}

.iconePopup{
	width: 45px;
}

#conteudoPagina{
	margin-left: 25px;
	margin-top: 25px;
}

.aviso{
	color: red;
	font-size: 10px;
	opacity: 0;
}

#container{
	border-left: solid 1px;
	border-right: solid 1px;
	border-bottom: solid 1px;
	width: 1024px;
	min-height: 500px;
	float: left;
}

#loginContainer {
	width: 290px;
	height: 165px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -145px;
	margin-top: -82.5px;
}

#loginForm{
	margin-left: 10px
}

#headerCabecalho{
	width: 1024px;
	height: 120px;
}

#cabecalho {
	width: 1024px;
	background-color: #1E90FF;
	border: 1px solid;
	float: left;
}

#menu{
	text-align: center;
	width: 100%;
}

.dropdown{
	margin-left: 20px;
}

.menu_nivel1 {
	width: 12.2%;
}

.menu_nivel1  ul li{
	width: 55.4%;
}

.menu_nivel1>a{
	border-top: solid 1px;
}

.menu_nivel1:FIRST-CHILD{
	border-left: solid 1px;
}

.menu_nivel1:LAST-CHILD{
	border-right: solid 1px;
}

.menu_nivel1  ul li a{
	margin-left: -8px;
}

.inputGrande {
	width: 500px;
}

.inputPequeno {
	width: 243px;
}

select {
	width: 190px
}

#selectNivelAcesso{
	width: 235px;
}