<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/security 
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<global-method-security secured-annotations="enabled">
	</global-method-security>

	<http auto-config="false">

		<!-- Don't set any role restrictions on login.jsp -->
		<intercept-url pattern="/login" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/resources/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />

		<!-- Restrict access to ALL other pages -->
		<intercept-url pattern="/**" access="ROLE_DEV" />

		<!-- Set the login proprieties -->
		<form-login login-page="/login" default-target-url="/home/index"
			always-use-default-target='true' />
		<logout logout-success-url="/login" invalidate-session="true" logout-url="/logout" />

	</http>

	<authentication-manager>
		<authentication-provider>
			<password-encoder hash="md5"/>
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="SELECT usuario_sistema.loginUsuarioSistema, 
					  usuario_sistema.senhaUsuarioSistema, usuario_sistema.statusAtivacao 
				  FROM usuario_sistema LEFT JOIN nivel_acesso ON usuario_sistema.codigoNivelAcesso = nivel_acesso.codigoNivelAcesso 
				  WHERE loginUsuarioSistema=?"
				authorities-by-username-query="SELECT usuario_sistema.loginUsuarioSistema, 
					nivel_acesso.descricaoNivelAcesso 
				  FROM usuario_sistema LEFT JOIN nivel_acesso ON usuario_sistema.codigoNivelAcesso = nivel_acesso.codigoNivelAcesso 
				  WHERE loginUsuarioSistema=?" />
		</authentication-provider>
	</authentication-manager>

	<beans:bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<beans:property name="url"
			value="jdbc:mysql://189.113.168.54/factorso_projeto-tcc" />
		<beans:property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<beans:property name="username" value="factorso_tcc" />
		<beans:property name="password" value="tcc123!@#" />
	</beans:bean>

</beans:beans>